.home-container {
  text-align: center;
  margin-top: 200px; /* Burayı ihtiyacına göre artırabilirsin */
}

.home-title {
  font-size: 64px;
  font-weight: 800;
  color: #1a1a1a;
  margin-bottom: 16px;
  font-family: 'Inter', sans-serif;
}

.home-subtitle {
  font-size: 24px;
  font-weight: 400;
  color: #555;
  font-family: 'Inter', sans-serif;
}
