/* Task title daha büyük ve kalın */
.task-title {
    font-size: 1.25rem; /* Başlık boyutunu büyüt */
    font-weight: bold; /* Kalın yap */
}

/* Task description daha küçük ve normal kalınlıkta */
.task-description {
    font-size: 1rem; /* Description boyutunu biraz daha küçük yap */
    font-weight: normal; /* Normal kalınlık */
}
